<div class="w-full h-full text-white bg-black landing-page">
    <!--Hero Section-->
    <section id="hero">
        <div class="heroimg h-[600px] relative">
            <div class="title absolute top-36 left-28">
                <div class="py-2 text-6xl font-bold ">
                    LUXURY <br>
                    LIFESTYLE <br>
                    RENTALS
                </div>
                <div class="py-1">
                    <h5 class="text-2xl text-white py-4">Enjoy the most luxurious experience</h5>
                    <button routerLink="/aboutus" class="py-2 border px-8 hover:bg-white rounded-md hover:text-black"><h4 class="text-lg">Disover</h4></button>
                </div>
                <div class="flex justify-center items-center absolute">
                    <div class="flex space-x-5 text-2xl font-semibold pt-4">
                        <span class="text-gray-500 py-2">R</span>
                        <span class="text-gray-500 py-2">N</span>
                        <span class="border border-gray-200 px-6 py-2 text-blue-400 rounded bg-gray-800">D</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Slider Section-->
    <section id="slider" class="py-6">
        <div>
            <h2 class="slider-title text-2xl font-semibold absolute left-28 ">POPULAR VEHICLE's</h2><br>
            <div class="flex justify-evenly py-6 space-x-10">
                <div>
                    <a routerLink="/vehicle-list" class="text-xl">View All</a>
                </div>
                <div class="border border-gray-200 px-6 py-0.5 text-xl rounded-md hover:bg-white hover:text-black">
                    SUV
                </div>
                <div class="text-xl">
                    Luxury
                </div>
            </div>
            <div class="" id="slider-component">

            </div>
        </div>
    </section>
</div>
