<<<<<<< HEAD

=======
.heroimg{
    background: url(https://cdnb.artstation.com/p/assets/images/images/066/147/765/large/rabah-ahmed-jesko-side-right.jpg?1692167794);
    background-repeat: no-repeat;
    background-size: cover;
}
>>>>>>> 42042e656aa8ede617cf0e991dd29787822006d6
/*https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2023%2F07%2FKoenigsegg-production-gemera-006.jpg?q=75&w=800&cbr=1&fit=max*/