<section id="all-content" class="pt-16">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 py-6 px-20" id="cards">
        <div class="shadow-xl shadow-gray-600 flex flex-col items-center rounded-lg" id="card-1">
            <img 
                width="100" 
                height="100" 
                src="assets/images/meter.png" 
                alt="speed" 
                class="py-3 px-2 items-center"
            />
            <h3 class="text-xl font-bold py-3">Rent. Ride. Relax.</h3>
            <p class="text-sm px-10 py-6">
                Minimal effort and maximum convenience. Access booking details, make changes, and manage reservations from a user-friendly dashboard.
            </p>
        </div>

        <div class="shadow-xl shadow-gray-600 flex flex-col items-center rounded-lg" id="card-1">
            <img
                width="100"
                height="100" 
                src="assets/images/steering.png" alt="steering"
                class="py-3 px-2 items-center"    
            >
            <h3 class="text-xl font-bold py-3">Many Pickup Locations</h3>
            <p class="text-sm px-10 py-6">
                Experience ultimate convenience with multiple pickup locations. Flexibility is important, a convenient car rental experience from start to finish.
            </p>
        </div>

        <div class="shadow-xl shadow-gray-600 flex flex-col items-center rounded-lg" id="card-1">
            <img 
                width="100" 
                height="100" 
                src="assets/images/updates.png" 
                alt="3rd icon" 
                class="py-3 px-2 items-center"
            />
            <h3 class="text-xl font-bold py-3">Real Time Updates</h3>
            <p class="text-sm px-10 py-6">
                Display real-time availability of vehicles to avoid overbooking and ensure accurate information.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-4 pt-14 px-24">
        <div id="left p-4">
            <h1 class="text-2xl font-bold pb-4">Best Rental Service</h1>
            <p class="text-sm text-gray-400 py-8 font-semibold">
                Experience the freedom of the open road with our premium car rental service.
            </p>
            <p class="text-sm text-gray-400 font-semibold">
                Choose from a wide selection of vehicles, from fuel-efficient compacts perfect for city exploration to spacious SUVs ideal for family road trips. Our vehicles are meticulously maintained and regularly updated with the latest models, ensuring a comfortable and enjoyable journey.
            </p>
            <img src="assets/images/sign.png" alt="sign" class="px-32 py-4 items-center">
        </div>
        <div id="right" class="px-10">
            <div class="flex flex-col relative p-4">
                <img src="assets/images/Nissan.png" alt="Nissan-image" class="absolute left-40 top-32 pr-4">
                <img src="assets/images/bugatti.png" alt="Bugatti" class="absolute top-2">
            </div>
        </div>
    </div>
</section>
